#navbar{
    display: flex;
    position: fixed;
    background-color: #fdebba;
    justify-content: space-between;
    height: auto;
    left: 1;
    right: 1;
    border-radius: 20px;
    border: 0.5px solid black;
}

.menuguida {
    left: 0;
    padding: 12px 20px;
    overflow: hidden;
}

.menuguida ul {
    left: 1;
    display: flex;
    list-style-type: none;
}

.menuguida li{
    margin-left: 40px;
}

.menuguida li a:hover{
    background-color: black;
    color: white;
    padding: 14px 14px;
}

.menuguida li a:active{
    color: brown;
}

.social{
    display: flex;
    position: absolute;
    right: 50px;
    align-items: center;
}

.social ul{
    display: flex;
    justify-content: right;
    list-style: none;
    scale: 7%;
    width: 60px;
    height: 10px;
}

.social ul li{
    float: right;
}

.account{
    position: absolute;
    right: 3px;
    height: 50px;
    padding: 16.5px;
}

.account button{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 14px 14px;
    text-align: center;
    border: none;
}  

.account button:hover{
    background-color: black;
    color: white;
    padding: 14px 14px;
}


.logo{
    background-color: rgba(253, 235, 186, 0.4);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.logo img{
    scale: 70%;
}

.paragrafo1,.paragrafo2, .paragrafo3{
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}